<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Nový Produkt</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="zrusit()" color="primary">
        Zavrieť
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="bg-light">
  
  <form (ngSubmit)="ulozit()" class="ion-padding">
    
    <div class="form-section">
      <h3 class="section-title">📦 Základné údaje</h3>
     
      <ion-item lines="none" class="custom-input">
        <ion-label position="stacked">Názov produktu <span class="required">*</span></ion-label>
        <ion-input
          placeholder="Napr. Skrutka M6x20"
          [(ngModel)]="produkt.nazov"
          name="nazov"
          required
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input ion-margin-top">
        <ion-label position="stacked">Vlastné ID</ion-label>
        <ion-input
          placeholder="Napr. 123456"
          [(ngModel)]="produkt.vlastne_id"
          name="vlastne_id"
        >
           <ion-icon slot="end" name="barcode-outline" color="medium"></ion-icon>
        </ion-input>
      </ion-item>

      <div class="ion-margin-top">
        <ion-item lines="none" class="custom-select">
          <ion-label position="stacked">Kategória</ion-label>
          <ion-select
            placeholder="Vyberte kategóriu"
            interface="action-sheet"
            [(ngModel)]="produkt.kategoria_id"
            name="kategoria_id"
          >
            <ion-select-option *ngFor="let kat of kategorie" [value]="kat.id">
              {{ kat.nazov }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        
        <ion-button fill="clear" size="small" (click)="otvoritNovuKategoriu()" class="add-btn">
          <ion-icon name="add-circle-outline" slot="start"></ion-icon>
          Vytvoriť novú kategóriu
        </ion-button>
      </div>
    </div>


    <div class="form-section">
      <h3 class="section-title">📍 Pridať na pozíciu</h3>
      <p style="font-size: 0.8rem; color: #666; margin-bottom: 10px;">
         Výberom novej pozície sa produkt pridá aj na toto miesto. Pôvodné umiestnenie ostane zachované.
      </p>
      <ion-item lines="none" class="custom-select">
        <ion-label position="stacked">Sklad</ion-label>
        <ion-select
          placeholder="Vyberte sklad"
          interface="action-sheet"
          [(ngModel)]="vybranySkladId"
          name="sklad_id"
          (ionChange)="onSkladChange()"
        >
          <ion-select-option *ngFor="let s of sklady" [value]="s.id">{{ s.nazov }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" class="custom-select ion-margin-top" [class.disabled-item]="!vybranySkladId">
        <ion-label position="stacked">Regál</ion-label>
        <ion-select
          placeholder="Najprv vyberte sklad"
          interface="action-sheet"
          [(ngModel)]="vybranyRegalId"
          name="regal_id"
          [disabled]="!vybranySkladId"
        >
          <ion-select-option *ngFor="let r of regaly" [value]="r.id">{{ r.nazov }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button fill="clear" size="small" (click)="otvoritNovuLokaciu()" class="add-btn">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        Spravovať lokácie
      </ion-button>
    </div>


    <div class="form-section">
      <h3 class="section-title">📏 Detaily</h3>
      
      <div class="details-row">
        <ion-item lines="none" class="custom-select half-width">
          <ion-label position="stacked">Jednotka</ion-label>
          <ion-select interface="popover" [(ngModel)]="produkt.jednotka" name="jednotka">
            <ion-select-option value="ks">ks</ion-select-option>
            <ion-select-option value="kg">kg</ion-select-option>
            <ion-select-option value="m">m</ion-select-option>
            <ion-select-option value="l">l</ion-select-option>
            <ion-select-option value="bal">bal</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none" class="custom-input half-width">
          <ion-label position="stacked">Balenie</ion-label>
          <ion-input type="number" [(ngModel)]="produkt.balenie_ks" name="balenie_ks"></ion-input>
        </ion-item>
      </div>
    </div>


    <div class="submit-container">
      
      <ion-button expand="block" type="submit" size="large" [disabled]="!produkt.nazov" class="ion-margin-bottom">
        Vytvoriť produkt
      </ion-button>

      <ion-button expand="block" fill="clear" color="medium" (click)="zrusit()">
        Zrušiť
      </ion-button>

    </div>

  </form>
</ion-content>