<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nový Produkt</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="zrusit()">Zavrieť</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <form (ngSubmit)="ulozit()">
    
    <h3 style="font-size: 0.9rem; color: gray; margin-bottom: 10px;">Informácie o produkte</h3>

    <ion-input
      class="ion-margin-bottom"
      fill="outline"
      label="Názov produktu *"
      label-placement="floating"
      [(ngModel)]="produkt.nazov"
      name="nazov"
      required
    ></ion-input>

    <ion-input
      class="ion-margin-bottom"
      fill="outline"
      label="Product ID (Vlastné)"
      label-placement="floating"
      [(ngModel)]="produkt.vlastne_id"
      name="vlastne_id"
    >
      <div slot="end" style="margin-right: 5px;">
         <ion-icon name="id-card-outline" style="color: gray; font-size: 1.4rem;"></ion-icon>
      </div>
    </ion-input>

    <ion-select
      class="ion-margin-bottom"
      fill="outline"
      label="Kategória"
      label-placement="floating"
      [(ngModel)]="produkt.kategoria_id"
      name="kategoria_id"
      interface="popover"
    >
      <div slot="end" style="padding-right: 5px; z-index: 100;">
         <ion-icon 
            name="add-circle-outline" 
            color="primary" 
            style="cursor: pointer;"
            (click)="$event.stopPropagation(); otvoritNovuKategoriu()">
         </ion-icon>
      </div>

      <ion-select-option *ngFor="let kat of kategorie" [value]="kat.id">
        {{ kat.nazov }}
      </ion-select-option>
    </ion-select>


    <h3 style="font-size: 0.9rem; color: gray; margin-top: 20px; margin-bottom: 10px;">Umiestnenie na sklade</h3>
    
    <div style="display: flex; gap: 10px; margin-bottom: 16px;">
      
      <ion-select
        style="flex: 1;"
        fill="outline"
        label="Sklad"
        label-placement="floating"
        [(ngModel)]="vybranySkladId"
        name="sklad_id"
        (ionChange)="onSkladChange()"
        interface="popover"
      >
        <div slot="end" style="padding-right: 5px; z-index: 100;">
           <ion-icon 
             name="add-circle-outline" 
             color="primary" 
             style="cursor: pointer;"
             (click)="$event.stopPropagation(); otvoritNovuLokaciu()">
           </ion-icon>
        </div>
        <ion-select-option *ngFor="let s of sklady" [value]="s.id">{{ s.nazov }}</ion-select-option>
      </ion-select>

      <ion-select
        style="flex: 1;"
        fill="outline"
        label="Regál"
        label-placement="floating"
        [(ngModel)]="vybranyRegalId"
        name="regal_id"
        [disabled]="!vybranySkladId"
        interface="popover"
      >
         <div slot="end" style="padding-right: 5px; z-index: 100;">
           <ion-icon 
             name="add-circle-outline" 
             color="primary" 
             style="cursor: pointer;"
             (click)="$event.stopPropagation(); otvoritNovuLokaciu()">
           </ion-icon>
        </div>
        <ion-select-option *ngFor="let r of regaly" [value]="r.id">{{ r.nazov }}</ion-select-option>
      </ion-select>

    </div>

    <div style="display: flex; gap: 10px;">
      <ion-select
        style="flex: 1;"
        fill="outline"
        label="Jednotka"
        label-placement="floating"
        [(ngModel)]="produkt.jednotka"
        name="jednotka"
        interface="popover"
      >
        <ion-select-option value="ks">ks</ion-select-option>
        <ion-select-option value="kg">kg</ion-select-option>
        <ion-select-option value="l">l</ion-select-option>
        <ion-select-option value="m">m</ion-select-option>
      </ion-select>

      <ion-input
        style="flex: 1;"
        type="number"
        fill="outline"
        label="Balenie"
        label-placement="floating"
        [(ngModel)]="produkt.balenie_ks"
        name="balenie_ks"
      ></ion-input>
    </div>

    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="!produkt.nazov">
      Vytvoriť produkt
    </ion-button>

  </form>

</ion-content>