.app-version {
  position: fixed;
  /* Použi Safe Area, aby to nebolo pod čiarou na iPhone X+ */
  bottom: calc(10px + env(safe-area-inset-bottom)); 
  left: 10px;
  z-index: 9999;

  font-size: 10px;
  
  /* Vždy tmavá farba, keďže pozadie je vždy biele */
  color: rgba(0, 0, 0, 0.5); 
  font-weight: bold;

  pointer-events: none;
  user-select: none;

 
}