.app-version {
    position: fixed;    
    bottom: 22px;         
    left:10px;          
    z-index: 9999;      
    
    font-size: 10px;     
    color: rgba(0, 0, 0, 0.9); 
    
    pointer-events: none; 
    user-select: none;  
    
    /* Pre tmavý režim */
    @media (prefers-color-scheme: dark) {
      color: rgba(255, 255, 255, 0.4);
    }
  }