<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nové Umiestnenie</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="zrusit()">Zavrieť</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-segment [value]="typ" (ionChange)="zmenitTyp($event)" class="ion-margin-bottom">
    <ion-segment-button value="sklad">
      <ion-label>Iba Sklad</ion-label>
    </ion-segment-button>
    <ion-segment-button value="regal">
      <ion-label>Nový Regál</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="form-container">
    
    <div *ngIf="typ === 'sklad'">
      <ion-item fill="outline">
        <ion-label position="floating">Názov skladu</ion-label>
        <ion-input [(ngModel)]="nazovSkladu" placeholder="Napr. Hlavný sklad"></ion-input>
      </ion-item>
      
      <div class="info-text ion-padding-top">
        <p>Vytvorí sa iba nová budova alebo miestnosť.</p>
      </div>

      <ion-button expand="block" class="ion-margin-top" (click)="ulozit()">
        Uložiť Sklad
      </ion-button>
    </div>

    <div *ngIf="typ === 'regal'">
      
      <ion-list-header>
        <ion-label>Regál bude patriť do:</ion-label>
      </ion-list-header>

      <ion-segment [(ngModel)]="zdrojSkladu" color="secondary" class="ion-margin-bottom">
        <ion-segment-button value="existujuci">
          <ion-label>Existujúci sklad</ion-label>
        </ion-segment-button>
        <ion-segment-button value="novy">
          <ion-label>+ Nový sklad</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div *ngIf="zdrojSkladu === 'existujuci'">
        <ion-item fill="outline" class="ion-margin-bottom">
          <ion-label position="floating">Vyberte sklad</ion-label>
          <ion-select [(ngModel)]="vybranySkladId" interface="popover" placeholder="Zoznam skladov">
            <ion-select-option *ngFor="let s of sklady" [value]="s.id">
              {{ s.nazov }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div *ngIf="zdrojSkladu === 'novy'">
        <ion-item fill="outline" class="ion-margin-bottom success-border">
          <ion-label position="floating">Názov NOVÉHO skladu</ion-label>
          <ion-input [(ngModel)]="nazovSkladu" placeholder="Napr. Sklad B (Vytvorí sa automaticky)"></ion-input>
        </ion-item>
      </div>

      <ion-item fill="outline">
        <ion-label position="floating">Názov nového regálu</ion-label>
        <ion-input [(ngModel)]="nazovRegalu" placeholder="Napr. Regál A1"></ion-input>
      </ion-item>

      <div class="info-text ion-padding-top">
        <p *ngIf="zdrojSkladu === 'novy'">
          <ion-icon name="information-circle-outline" style="vertical-align: bottom"></ion-icon>
          Uložením sa vytvorí <strong>najprv sklad</strong> "{{ nazovSkladu || '...' }}" a do neho sa vloží regál.
        </p>
      </div>

      <ion-button expand="block" class="ion-margin-top" (click)="ulozit()">
        Uložiť {{ zdrojSkladu === 'novy' ? 'Všetko' : 'Regál' }}
      </ion-button>
    </div>

  </div>

</ion-content>