<ion-content [fullscreen]="true">
  <div class="main-container">
    
    <div class="header-section">
      <div class="logo-circle">
        <ion-icon name="cube-outline" color="light"></ion-icon>
      </div>
      <h1>Skladový Systém</h1>
      
      <p *ngIf="currentUserEmail" class="user-label">
        <ion-icon name="person-circle-outline" style="vertical-align: middle; margin-right: 5px;"></ion-icon>
        {{ currentUserEmail }}
      </p>
      
      <p *ngIf="!currentUserEmail">Vitajte späť</p>
    </div>

    <div class="dashboard-grid">
      
          
      <ion-card routerLink="/inventury-zoznam" button="true" class="dashboard-card">
        <div class="card-content">
          <div class="icon-box blue">
            <ion-icon name="clipboard-outline"></ion-icon>
          </div>
          <ion-card-title>Inventúry</ion-card-title>
          <ion-note>História & Nové</ion-note>
        </div>
      </ion-card>

      <ion-card routerLink="/inventory" button="true" class="dashboard-card">
        <div class="card-content">
          <div class="icon-box orange">
            <ion-icon name="layers-outline"></ion-icon>
          </div>
          <ion-card-title>Živý Sklad</ion-card-title>
          <ion-note>Prehľad zásob</ion-note>
        </div>
      </ion-card>

      <ion-card routerLink="/dashboard" button="true" class="dashboard-card">
        <div class="card-content">
          <div class="icon-box purple">
            <ion-icon name="stats-chart-outline"></ion-icon>
          </div>
          <ion-card-title>Dashboard</ion-card-title>
          <ion-note>Prehľad & Štatistiky</ion-note>
        </div>
      </ion-card>

    </div>

  </div>
</ion-content>